{% extends 'base.html.twig' %}

{% block title %}SymVa - Mes vacataires{% endblock %}

{% block body %}
    <div class="container mt-4">
        {% for message in app.flashes('success') %}
            <div class="alert alert-dismissible alert-success mt-4">
                {{ message }}
            </div>
        {% endfor %}
        <h1>Mes vacataires</h1>

        <table class="table table-hover">
            <thead>
            <tr class="table-secondary">
                <th scope="col">Numero</th>
                <th scope="col">Nom</th>
            </tr>
            </thead>
            <tbody>
            {% for vacataire in vacataires %}
            <tr class="table-dark">
                <th scope="row">{{ vacataire.id}}</th>
                <td>{{ vacataire.nom}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="d-flex justify-content-center mt-4">
            {{ knp_pagination_render(vacataires) }}
        </div>
    </div>
{% endblock %}

